*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Trivia/nbproject/private/
/Trivia/build/

apache-tomcat-7.0.57/logs
apache-tomcat-7.0.57/work/
apache-tomcat-7.0.57/temp
apache-tomcat-7.0.57/work
/TriviaConsole/nbproject/private/
/TriviaConsole/build/
Trivia/nbproject/private
